@font-face {
    font-family: 'vazir';
    src: url(../fonts/vazir.eot) format('eot');
    src: url(../fonts/vazir.ttf) format('truetype');
    src: url(../fonts/vazir.woff) format('woff');
    src: url(../fonts/vazir.woff2) format('woff2');
}

body{
    direction: rtl !important;
    font-family: 'vazir';
}

/* 
    header
*/

.header{
    background-image: url('../images/head.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav .brand-logo{
    position: relative !important;
    font-size: 1.8rem;
}

nav ul.navbar{
    display: flex;
}

/*
 card 
*/

.portfolio-title blockquote{
    border-right: 5px solid #ee6e73;
    border-left: 0;
    padding-right: 1.5rem;
}

.portfolio-title{
    margin-bottom: 40px;
}

.portfolio a:hover{
    color: #000 !important;
}

.card{
    overflow: hidden;
}

.card img{
    transition: all .3s ease-in-out;
}

.card:hover img{
    transform: scale(1.2);
}

.portfolio img{
    height: 150px;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* 
    Carousel
*/

.carousel{
    height: 550px;
}
.carousel .carousel-item{
    width: 550px;
    height: 500px;
}

.carousel .card .card-content{
    color: #000;
}

.carousel .card .card-content p{
   color: #999;
}

.parallax img{
    width: 100%;
}